/* reset */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* font */
html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* body{
    max-width: 1200px;
} */

/* float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 15px auto;
    /* background-color: lightcoral; (debug) */
}

header {
    margin-bottom: 20px;
    /* background-color: #E579E6; */
}

/* logo */
.logo-bar {
    height: 3.5em;
}

.logo-img {
    height: 100%;
    padding-right: 1em;
    border-right: 1px solid lightgray;
}

/* nav bar */
.nav-bar {
    margin-top: 1.5em;
}

.nav-bar a{
    text-decoration: none;
    margin-right: 1em;
    font-size: 0.8em;
}

/* jumbotron */
.jumbo-tron {
    margin-bottom: 2em;
    background-image: url(../img/banner.jpg);
    color: white;
    background-size: cover;
    background-position-y: center;
    border-radius: 10px;
}

.transp {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.jumbo-text {
    padding: 30% 45% 6% 5%
}

.jumbo-text-title {
    font-size: 1.5em;
}

/* main-content-header */

.main-content {
    margin-bottom: 20px;
}

.main .content-header {
    height: 5em; 
}

.content-header h1 {
    font-size: 2em;
}

.content-header p {
    color: lightgray;
}

/* columnns */
.main .main-content-main {
    padding-bottom: 20px;
}

[class*="col-"] {
    float: left;
}

.col-side {
    width: 20%;
}

.col-center {
    width: calc(60% - 30px) ;
    margin: 0 15px;
}

[class*="main-image"] {
    height: 10em;
    background-size: cover;
    background-position: center;
}

.main-image-left {
    background-image: url(../img/img-1.jpg);
}

.main-image-center {
    background-image: url(../img/banner-2.jpg);
}

.main-image-right {
    background-image: url(../img/img-3.jpg);
}

.main-content-main .title {
    color: black;
    padding: 1em 0;
}

.main-content-main .text {
    color: lightgray;
}

footer {
    height: 3em;
    margin-top: 5px;
    text-align: center;
}

.red-heart {
    color: red;
}